@font-face
{
font-family: myFont;
src: url('msyhbd.ttc');/* IE9+ */
}

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6, p{ font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

#header{
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}

#header .logo{
    cursor:default ;
    font-family: myFont,monospace;
    font-size: 20px;
}
#header .logo>img{
  width:100px;
  height: 25px;
}
span{
  font-family: myFont;
}
#header .logo a
#header a{
  font-family:myFont,fantasy;
  color: whitesmoke;
}

#header #links a{
  cursor:pointer;
  color: whitesmoke;
}

#header #links a:hover{
  background-color: whitesmoke;
  color: black;
}

#header #links{
   float:right;
}

.section{
  width: 100%;
  height: 600px;
}
/*第0个*/
#section0{
  height: 500px;
}
.title{
  width:100%;
  height:150px;
  text-align: center;
  position: relative;
  top:75px;
}
.title>img{
  width:400px;
  height:100px;
  opacity: 0.9;
}
.pics{
  text-align: center;
  position: relative;
  top:20px;
}
.pics>img{
  width:400px;
  height:400px;
}
/*第一个*/
#section1{
  text-align: center;
  height: 400px;
}

.secOne{
  width : 80%;
  margin-left: auto;
  margin-right: auto;
}
.secH2{
  padding-top: 100px;
  font-size: 45px;
}
.secOneP1{
  font-size: 25px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.secOneP2{
  font-size: 25px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}
/*第二个*/
#section{
  background-color: #EFFFFF;
}
.swiper-container{
  position: relative;
  top:100px;
}
#section2{
  margin-top:0;
}
.blue-slide{
  text-align: center;
}
.swiper-wrapper img{
  width: 40%;
}
.Sec2 p,h3{
  color: black;
}
.Sec2 p{
  font-size: 20px;
}
.Sec2>p>a{
  border: 1px black solid;
  position: relative;
  top:10px;
}
.swiper-container {
  width: 640px;
  height: 640px;
  color: #fff;
  text-align: center;
}
.red-slide {
  background: white;
}
.blue-slide {
  background: whitesmoke;
}
.orange-slide {
  background: whitesmoke;
}
.pagination {
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  z-index: 20;
  left: 1px;
  top: 560px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: #555;
  margin: 8px 8px 8px 8px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: green;
}
#section2{
  height: 700px;
}
.ui-loader{
  display: none;
}
/*第三个*/
.sec3{
  width:80%;
  height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#section3{
  height: 4000px;
}
.immune{
  width:80%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
.imBorder{
  margin-top: 9px;
  border: 5px black solid;
  height: 25px;
  width: 85%;
  border-radius: 5px;
  float: right;
}
.imContent{
  background-color: lawngreen;
  height: 15px;
  width: 60%;
}
.powerWords{
  float:left;
}
.descriptionOfAtp{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  position: relative;
  bottom:60px;
}
.descriptionOfAtpDe{
  padding: 10px;
  position: relative;
  top:40px;
  border: 1px black;
  border-style: none solid solid solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0.3);
  z-index:0;
}
#imPower{
  -webkit-touch-callout:none;
}
.Two{
  display: inline;
  width:100%;
}
#im1{
  border:1px black;
  border-style: solid solid none solid ;
  padding: 10px;
  float: left;
  box-shadow: 0 1px 10px rgba(0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor:pointer;
  text-decoration: none;
  color: black;
  box-shadow: 2px 0px 1px #888888;
  width:60%;
}
#im2{
  border: 1px black solid;
  padding: 10px;
  float: left;
  border-style: none none solid none ;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor:pointer;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 1px #888888;
  width:40%;
}
#im2P{
  display: none;
}
#section3{
  height: 700px;
}
.sec3{
  position: relative;
  top:100px;
  height: 550px;
}
#im1,#im2,#imP1,#imP2{
  font-size: 14px;
}
.clone{
  width:200px;
}
#holdBaby{
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 100%;
  position: relative;
  right: 100px;
}
#babyIn{
  position: absolute;
  z-index:2;
}
#babyOut{
  position: absolute;
  z-index:1;
}

/*第四个*/
video{
  text-align: center; 
  position: relative;
  width: 100%;
  height: 600px;
  position: relative;
  top:100px;
}
/*第五个*/
.intro-peo{
  border: 1px solid black;
  height: 250px;
  text-align: center;
}
.peo-div{
  margin-top: 80px;
  width:80%;
}
.intro-peo span{
  margin-top: 20px;
  font-size:60px;
}
.intro-peo h1{
  font-size: 20px;
  color: black;
}
 /*第六个*/
.android{
  width: 100%;
  text-align: center;
  position: relative;
  top:200px;
}
.android img{
  width:150px;
  height: 150px;
}
.none{
  display: none;
}
#green-android{
  opacity: 0;
}
.download{
  width: 100%;
  text-align: center;
  position: relative;
  top:50px;
}
.download button{
  width: 150px;
  height: 50px;
  background-color: black;
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}
.download button b{
  color: whitesmoke;
}
#section5 .download .btn a{
   text-decoration:none;
}
/*第七个*/
#section6{
  width:100%;
  background-color:black;
  height: 100px;
  text-align: center;
}
#section6>h3{
  color: whitesmoke;
  padding-top: 15px;
  font-size: 20px;
}

/*自适应*/
@media (min-width: 1200px) {
  
}
/*在992 和1199 像素之间的屏幕里，中等屏幕，分辨率低的PC*/
@media (min-width: 992px) and (max-width: 1199px) {
  .secOneP1{
  font-size: 25px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
  .secOneP2{
    font-size: 25px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
  }
  .secH2{
    padding-top: 90px;
    font-size: 45px;
  }
  .swiper-container {
  width: 540px;
  height: 560px;
  color: #fff;
  text-align: center;
}
    .swiper-container{
  position: relative;
  top:130px;
}
  .pagination {
  top: 500px;
}
  .sec3{
    position: relative;
    top:80px;
    height: 550px;
  }
  .clone{
  width:190px;
}
}
/*在768 和991 像素之间的屏幕里，小屏幕，主要是PAD*/
@media (min-width: 768px) and (max-width: 991px) {
  .header #links{
   text-align: center;
   float:none;
  }
  .title img{
    width:280px;
    height:70px;
  }
  .pics img{
    width:280px;
    height:280px;
  }
  
  .secOneP1{
  font-size: 21px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.secOneP2{
  font-size: 21px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}
  .secH2{
    padding-top: 0px;
    font-size: 45px;
  }
  .scene{
    margin-top: 0;
  }
  .swiper-container{
  position: relative;
  top:20px;
}
  .swiper-container {
  width: 540px;
  height: 580px;
  color: #fff;
  text-align: center;
}
  .pagination {
  top: 500px;
}
  #section2{
    height: 600px;
  }
  .sec3{
    position: relative;
    top:50px;
    height: 550px;
  }
  #section3{
    height: 600px;
  }
  .clone{
  width:190px;
}
}
/*在480 和767 像素之间的屏幕里，超小屏幕，主要是手机*/
@media (min-width: 480px) and (max-width: 767px) {
  #header #links{
   text-align: center;
   float:none;
  }
  .title img{
    width:250px;
    height:62.5px;
  }
  .pics img{
    width:250px;
    height: 250px;
  }

    .secOneP1{
  font-size: 18px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.secOneP2{
  font-size: 18px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}
  .secH2{
    padding-top: 0px;
    font-size: 45px;
  }
  .scene{
    margin-top: 0;
  }
  .swiper-container{
  position: relative;
  top:0px;
}
  .swiper-container {
  width: 440px;
  height: 480px;
  color: #fff;
  text-align: center;
}
    .pagination {
    top: 430px;
}
  #section2{
    height: 450px;
  }
  #section3{
    height: 580px;
  }
  .imBorder{
    width:80%;
  }
  .descriptionOfAtp{
    width:75%
  }
    .clone{
    width:190px;
  }
}
/*在小于480 像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
  #header #links{
   text-align: center;
   float:none;
  }
  .title img{
    width:220px;
    height:55px;
  }
  .pics img{
    width:220px;
    height: 220px;
  }

  
  .secH2{
    padding-top: 0px;
    font-size: 45px;
  }
    .secOneP1{
  font-size: 18px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.secOneP2{
  font-size: 18px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}
  .scene{
    margin-top: 50px;
  }
  .swiper-container{
  position: relative;
  top:130px;
}
  .swiper-container {
  width: 350px;
  height: 420px;
  color: #fff;
  text-align: center;
}
    .pagination {
    top: 360px;
}
  .imBorder{
    width:75%;
  }
  #section2{
    height: 500px;
  }
  #section3{
    height: 500px;
  }
  .descriptionOfAtp{
    width:80%
  }
    .clone{
  width:180px;
}
}
